@model HeaderLinksModel
@using Nop.Web.Models.Common;
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes

@{

	//logo path
	var currentThemeName = "v1"; //EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
	var logo = "~/Themes/" + currentThemeName + "/Content/images/logo.png";

	//store name style="width: 60%;"
	var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);

	//current category ID
	int currentCategoryId = 0;
	if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
		Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
	{
		currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
	}


	//current product ID
	int currentProductId = 0;
	if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
		Url.RequestContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
	{
		currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
	}

	string about, newproduct, contact, saleall;
	about = newproduct = contact = saleall = string.Empty;
	var url = HttpContext.Current.Request.Url.AbsolutePath;
	if (url.Contains("/about"))
	{
		about = "category-menu";
	}
	else if (url.Contains("/newproducts"))
	{
		newproduct = "category-menu";
	}
	else if (url.Contains("/contact"))
	{
		contact = "category-menu";
	}
	else if (url.Contains("sale-all"))
	{
		saleall = "category-menu";
	}
  string absolutepath = HttpContext.Current.Request.Url.AbsolutePath;
  string host = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
	var src_img = "";
	var menu_icon = "";
	var bag_icon = "";
	var cart_number = "";
	var bckground_color = "";
	if (absolutepath.Equals("/")) {
		src_img = host + "/Themes/v1/Content/images/search.svg";
		menu_icon = host + "/Themes/v1/Content/images/menu-white.png";
		bag_icon = host + "/Themes/v1/Content/images/bag-white.png";
		cart_number = "color: white !important";
		bckground_color = "background-color: transparent; height: 70px;";
	} else {
		src_img = host + "/Themes/v1/Content/images/search2.svg";
		menu_icon = host + "/Themes/v1/Content/images/menu-black.png";
		bag_icon = host + "/Themes/v1/Content/images/bag-black.png";
		cart_number = "color: gray !important";
		bckground_color = "background-color: white; height: 70px;";
	}
}

@*desktop navbar*@
<div class="mobile-left-sidebar-overlay"></div>
<div class="mobile-left-sidebar d-flex justify-content-center">
    <div class=" d-flex flex-column" style="top:40vh;color:#D3A774">
        <form action="~/search" autocomplete="on">
        	<input class="search-nav mb-5" id="search" name="q" type="text" placeholder="Type something to search">
        </form>
    </div>
</div>

<div class="fixed-top d-none d-md-block hidden-xs hidden-sm" style="@bckground_color">
	@if (absolutepath == "/") {
		<div class="row promo-top" style="display: flex;">
			<div class="col-12 col-md-12 col-sm-12" style="background-color: #D9BE9B !important;">
				<p class="p-0 m-0 text-center px-5" style="color: black;">
					Free shipping orders IDR500,000 (Indonesia area only)
					<span class="close-promo-top" style="float: right; cursor: pointer">X</span>
				</p>
			</div>
		</div>
	}
	@* new nav bar full width dropdown *@
	@Html.Action("CategoryNavigation", "Catalog", new {saleall = saleall, about = about, newproduct = newproduct, contact = contact, currentCategoryId = currentCategoryId, currentProductId = currentProductId, isSidebar = false })

	<div style="width:100%; text-align:center;">
		<div class="d-flex justify-content-center align-items-center" style="float:right; width:35%; height: 70px;">
			<div class="row" style="width: 100%;">
				@* search headers *@
				<div class="col-md-1"></div>
				<div class="col-4 col-md-2 d-flex justify-content-end align-items-center">
					<div  class="show-mobile-menu-btn" style="cursor:pointer;">
						<img id="searchHeader" src="@src_img" />
					</div>
				</div>

				@* cart headers *@
				<div class="col-4 col-md-3 d-flex justify-content-center align-items-center">
					@if (Model.ShoppingCartEnabled)
					{
						var cartItem = "0";
						var cssCartItem = "bag-empty";
						if (Model.ShoppingCartItems > 0)
						{
							cartItem = string.Format("{0}", Model.ShoppingCartItems);
							cssCartItem = "shopping-bag";
						}
						<a href="#bag" onclick="$('.aside').asidebar('open')" style="font-size: 16px; @if (absolutepath.Equals("/")) {<text>color: #D9BE9B;</text>} else {<text>color: gray;</text>}">
							<div id="icbag-panel" class="@cssCartItem align-items-center">
								<span id="cartColorHeader">CART (<span id="mCartItemsQty" class="cart-qty" style="font-size: 16px;" style="@cart_number">@cartItem</span>)</span>
							</div>
						</a>

						@* <a href="#bag" onclick="$('.aside').asidebar('open')" style="font-size: 16px; @if (absolutepath.Equals("/")) {<text>color: white;</text>} else {<text>color: gray;</text>}">
							<div id="icbag-panel" class="@cssCartItem align-items-center d-flex">
								CART style="@cart_number" @cartItem 
							</div>
						</a> *@
					}
				</div>

				@* login and account headers *@
				<div class="col-4 col-md-5 d-flex justify-content-start align-items-center" id="acc-panel">
					@if (Model.IsAuthenticated)
					{
						<ul class="list-unstyled list-inline" style="margin: 0;">
							<li>
								<div class="dropdown">
									<a id="myAccountColorHeader" href="#" class="nav-item" style="font-size: 16px; @if (absolutepath.Equals("/")) {<text>color: #D9BE9B;</text>} else {<text>color: gray;</text>}">MY ACCOUNT</a>
									<div class="dropdown-content2 text-left">
										@* <a href="~/order/ConfirmPayments">Confirm Payment</a> *@
										<a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a>
										<a href="@Url.RouteUrl("CustomerInfo")">Personal Info</a>
										<a href="@Url.RouteUrl("CustomerChangePassword")">Change Password</a>
										<a href="~/customer/addressAdd">Address Book</a>
										<a href="@Url.RouteUrl("Logout")"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Logout</a>
									</div>
								</div>
							</li>
						</ul>
					}
					else
					{
						<div>
							<a id="loginColorHeader" href="~/login" class="nav-item" style="font-size: 16px; @if (absolutepath.Equals("/")) {<text>color: #D9BE9B;</text>} else {<text>color: gray;</text>}">LOGIN / REGISTER</a>
						</div>
					}
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>

		<div class="d-flex justify-content-center align-items-center" style="float:right; width: 30%; height: 70px;">
			<a href="~/"><img src="~/Themes/v1/Content/images/logo.png" class="brandImage" style="width: 60%;" /></a>
		</div>
	</div>

</div>

<div class="asidesearch">
	<form action="~/search" autocomplete="on" style="display: flex; justify-content: center; width: inherit;">
		<input class="search-navdesktop" id="search" name="q" type="text" placeholder="Type something to search">
		<button style="margin-left: -30px; border: none; background: none;" type="submit" name="subscribe" value=""><img src="~/Themes/v1/Content/images/arrow.png" /></button>
	</form>
</div>

@*overlay shopping cart*@
<div class="aside">
    @* <div class="aside-header"><span class="close" data-dismiss="aside" aria-hidden="true">&times;</span></div> *@
    <div class="aside-contents">
        <div id="bag">@Html.Action("FlyoutShoppingCart", "ShoppingCart")</div>
    </div>
</div>
<div class="aside-backdrop"></div>

@* cart mobile  *@
<div class="asidemobile">
	<div style="height: 100%; display: flex; justify-content: space-between">
		<div id="bag" style="height: 100%; width: 100%;">
			@Html.Action("FlyoutShoppingCart", "ShoppingCart")
		</div>
	</div>
</div>
<div class="asidemobile-backdrop"></div>


@*mobile navbar*@
<div class="d-block d-md-none hidden-md hidden-lg sidebarNavigation fixed-top">
	@if (absolutepath == "/") {
		<div class="row promo-top" style="display: flex;">
			<div class="col-12 col-md-12 col-sm-12" style="background-color: #D9BE9B !important;">
				<p class="p-0 m-0 text-center px-5" style="color: black;">
					Free shipping orders IDR500,000 (Indonesia area only)
					<span class="close-promo-top" style="float: right; cursor: pointer">X</span>
				</p>
			</div>
		</div>
	}

	<nav class="navbar navbar-expand-md" data-sidebarClass="navbar-dark" style="background-color: transparent; ">
		<div class="text-center" style="width:100%;">
			<div class="row m-1">
				<div class="col-4 d-flex justify-content-start">
					<button class="navbar-togglers leftNavbarToggler btn-toggle" type="button" data-target="#navbarsExampleDefault"
							aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
						<div class="menu-header-mobile"><img src="@menu_icon" /></div>
					</button>
				</div>

				<div class="col-4 d-flex justify-content-center">
					<a class="navbar-brand" href="~/"><img class="img-fluid brandImage" src="~/Themes/v1/Content/images/logo.png" style="height: 22px" /></a>
				</div>


				<div class="col-4 d-flex justify-content-end" style="padding-right: 5% !important;">
					<a href="#" class="" onclick="openSearch()" style="padding-right:17px;"><img src="@src_img" style="width: 100%;" /></a>
					@if (Model.ShoppingCartEnabled)
					{
						var cartItem = "0";
						var cssCartItem = "bag-empty";
						if (Model.ShoppingCartItems > 0)
						{
							cartItem = string.Format("{0}", Model.ShoppingCartItems);
							cssCartItem = "bag";
						}
						<a href="#bag" onclick="$('.asidemobile').asidebar('open')">
							<div id="icbag-panel" class="@cssCartItem align-items-center d-flex">
								<span class="nav-item" style="color:#707070;margin-left:-8px;">
									<img src="@bag_icon" style="width: 50%;" /> <span id="mCartItemsQty" class="cart-qty" style="@cart_number">@cartItem</span>
								</span>
								@* <span id="mCartItemsQty" class="xans-element-xans-layout xans-layout-orderbasketcount cart-qty">
								</span> *@
							</div>
						</a>
					}
				</div>

				<div class="navbar-collapse" id="navbarsExampleDefault" style="padding: 10px 0 0;">
					<div class="d-block d-md-none hidden-md hidden-lg" style="">
						@* category title in navbar *@
						<div class="row mb-4">
							<div class="col-4 d-flex justify-content-start align-items-center">
								<span class="closebtn" onclick="closeMenu()" title="Close Overlay" style="font-size: 37px; padding-left: 20%; color: #D9BE9B;">×</span>
							</div>
							
							<div class="col-4 d-flex justify-content-center align-items-center">
								<img class="img-fluid store-logo" src="~/Themes/v1/Content/images/logo.png" style="height: 22px;" />
							</div>

						</div>

						<div id="accMobileHeader" style="padding: 13% 6% 0;">
							@* category menu in navbar *@
							<ul class="list-unstyled list-inline" style="width: 100%;">
								<li class="dropdown dropright-list header-categories">
										<a class="dropbtn child-categories collapsed" style="font-size:14px; color: #D9BE9B; padding: 0;" data-toggle="collapse" data-target="#collapse-nav3" aria-expanded="false" aria-controls="collapse-nav3">SHOP</a>
										<div class="collapse" id="collapse-nav3" style="padding-left: 8%; width: 300px;">
											@Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId, isMobile = true })
										</div>
								</li>
							</ul>
							<a href="/about" class="signin btn-login" style="padding: 0; font-size:14px; color: #D9BE9B !important">ABOUT US</a>
							<a href="~/order/ConfirmPayments/" class="signin btn-login" style="padding: 0; font-size:14px; color: #D9BE9B !important">PAYMENT CONFIMRATION</a>
							<ul class="list-unstyled list-inline" style="width: 100%;">
								@if (Model.IsAuthenticated)
								{
									<li class="dropdown dropright-list">
										<a href="@Url.RouteUrl("CustomerInfo")" class="dropbtn mb-2" style="font-size:14px; color: #D9BE9B; padding: 0;" data-toggle="collapse" data-target="#collapse-nav2" aria-expanded="false" aria-controls="collapse-nav2">MY ACCOUNT</a>
										<div class="collapse" id="collapse-nav2" style="padding-left: 8%; width: 300px;">
											@* <a class="mb-2" style="color: white; font-size: 14px; padding: 0;" href="~/order/ConfirmPayments">Confirm Payment</a> *@
											<a class="mb-2" style="color: white; font-size: 14px; padding: 0;" href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a>
											<a class="mb-2" style="color: white; font-size: 14px; padding: 0;" href="@Url.RouteUrl("CustomerInfo")">Personal Info</a>
											<a class="mb-2" style="color: white; font-size: 14px; padding: 0;" href="@Url.RouteUrl("CustomerChangePassword")">Change Password</a>
											<a class="mb-2" style="color: white; font-size: 14px; padding: 0;" href="~/customer/addressAdd">Address Book</a>
											<a class="mb-2" style="color: white; font-size: 14px; padding: 0;" href="@Url.RouteUrl("Logout")"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Logout</a>
										</div>
									</li>
								}
								else
								{
									<li><a href="~/login" class="signin btn-login" style="padding: 0;font-size:14px; color: #D9BE9B">LOGIN / REGISTER</a></li>
								}
								

							</ul>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</nav>
</div>

@* search mobile *@
<div class="overlay2 d-sm-none" id="myOverlay">
	<span class="closebtn" onclick="closeSearch()" title="Close Overlay">close</span>
	<div class="overlay-content">
		<form action="~/search" autocomplete="on">
			<input class="search-nav-2 mb-5" id="search" name="q" type="text" placeholder="Type something">
		</form>
	</div>
</div>




<script>
	window.onload = function () { if (window.jQuery) { $(document).ready(function () { $(".sidebarNavigation .navbar-collapse").hide().clone().appendTo("body").removeAttr("class").addClass("sideMenu").show(); $("body").append("<div class='overlay'></div>"); $(".navbar-toggle, .navbar-togglers").on("click", function () { $(".sideMenu").addClass($(".sidebarNavigation").attr("data-sidebarClass")); $(".sideMenu, .overlay, .xclose").toggleClass("open"); $(".overlay, .xclose").on("click", function () { $(this).removeClass("open"); $(".sideMenu").removeClass("open") }) }); $("body").on("click", ".sideMenu.open .nav-item", function () { if (!$(this).hasClass("dropdown")) { $(".sideMenu, .overlay, .xclose").toggleClass("open") } }); $(window).resize(function () { if ($(".navbar-toggler").is(":block")) { $(".sideMenu, .overlay").hide() } else { $(".sideMenu, .overlay, .xclose").show() } }) }) } else { console.log("sidebarNavigation Requires jQuery") } }

	$(document).on('click', '.dropdown', function (e) {
		e.stopPropagation();
		$('.dropdown').not($(this)).removeClass('active');
		$(this).toggleClass('active');
	});

	$(document).on('click', function () {
		$('.dropdown').removeClass('active');
	});

	$(".close-promo-top").click(function () {
    $('.promo-top').attr('style', 'display: none !important');
	});

	$(document).on('click', '.dropdown-content', function (e) {
		e.stopPropagation();
	})

</script>

@if (Model.ShoppingCartEnabled)
{
	<script type="text/javascript">
		$(document).ready(function () {

			if (
				$('.toggle > input').is(':checked') &&
				!$(event.target).parents('.toggle').is('.toggle')
			) {
				$('.toggle > input').prop('checked', false);
			}


			$('.li-header-mini-cart').on('mouseenter', '#topcartlink', function () {
				$('#flyout-cart').addClass('active');
			});
			$('.li-header-mini-cart').on('mouseleave', '#topcartlink', function () {
				$('#flyout-cart').removeClass('active');
			});
			$('.li-header-mini-cart').on('mouseenter', '#flyout-cart', function () {
				$('#flyout-cart').addClass('active');
			});
			$('.li-header-mini-cart').on('mouseleave', '#flyout-cart', function () {
				$('#flyout-cart').removeClass('active');
			});

		});

		function openSearch() {
			document.getElementById("myOverlay").style.display = "block";
		}

		function closeSearch() {
			document.getElementById("myOverlay").style.display = "none";
		}
		function closeMenu() {
			$('.sideMenu').removeClass('open');
			$('.overlay').removeClass('open');
			$('.mobile-category-menu').attr('style', "display: block !important;");
	    $('.header-links').attr('style', "display: none !important;;");
		}
		/*function showMobileMenu() {
			console.log(document.querySelector('.search-text-homepage'))
			if (document.querySelector('.search-text-homepage') !== null){
					// Do something if class exists
				$('.form-input-search').removeClass('search-text-homepage');
			} else {
					// Do something if class does not exist
				$('.form-input-search').addClass('search-text-homepage');
			}

			//$('.mobile-left-sidebar').addClass('active');
			//$('.mobile-left-sidebar-overlay').addClass('active');
		}*/
		function showMobileMenu() {
			$('.mobile-left-sidebar').addClass('active');
			$('.mobile-left-sidebar-overlay').addClass('active');
		}
		function showMobileMenuHeader() {
			$('.mobile-category-menu').attr('style', "display: none !important;");
	    $('.header-links').attr('style', "display: block;");
		}
		function closeMobileMenu() {
			$('.mobile-left-sidebar').removeClass('active');
			$('.mobile-left-sidebar-overlay').removeClass('active');
		}
		$('.show-mobile-menu-btn').click(showMobileMenu);
		$('.menu-header-mobile').click(showMobileMenuHeader);
		$('.mobile-left-sidebar-overlay').click(closeMobileMenu);
		$('.close-mobile-menu-btn').cli


	</script>
}